/*初始化*/
a img {
    border: 0;
}
.sc_padding{ padding:11px 11px !important;}
/*列表*/
.sc_cells{
  line-height: 1.41176471;
  /*font-size: 17px;*/
  overflow: hidden;
  position: relative;
}
.sc_cell {
  background-color: #fff;
	border-bottom: 1px solid #eee;
	margin-bottom: 5px;
  padding: 10px 15px;
  position: relative;
  /*display: -webkit-box;
  display: box;
  display: -webkit-flex;
  display: flex;*/
 
}
.sc_cell_hd{
	float: left;
}
.sc_cell_primary {
	padding-left: 10px;
}
.sc_cell_primary p:first-child{
	font-size: 1.6rem;
	color:#555;
}
.sc_cell_ft {
  text-align: right;
  color: #888;
  background:;
}
/*list追加图标*/
.sc_cells_access .sc_cell_select:after {
  content:url(../example/images/icon/listIcon-16.png);
  display: inline-block;
  position: relative;
  top:4px;
  left: 4px;
  }
.sc_cells_access .sc_cell_ft:after {
  content:url(../example/images/icon/listIcon-22.png);
  display: inline-block;
  position: relative;
  top:4px;
  left: 4px;
}
.sc_cells_access a.sc_cell {
  color: #000;
  display: block;
  height: 76px;
}
.sc_cells_title {
  margin-top: .77em;
  margin-bottom: .3em;
  padding-left: 15px;
  padding-right: 15px;
  color: #888;
  font-size: 14px;
}
/*复选框*/
.sc_check_label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.sc_check {
  position: absolute;
  left: -9999em;
}
.sc_cells_checkbox .sc_check:checked + .sc_icon_checked:before {
  content: "";
  background: url(../images/ScApp/icon/Checkbox.png) no-repeat left;
  background-size: 24px;
  line-height: 1em;
  width: 24px;
  height: 24px;
  display: block;
}
.sc_cells_checkbox .sc_icon_checked:before {
  content: "";
  background: url(../images/ScApp/icon/Option_01.png) no-repeat left;
  background-size: 24px;
  line-height: 1em;
  width: 24px;
  height: 24px;
  display: block;
}
.sc_cells_checkbox .sc_icon_disable:before {
  content:url(../example/images/icon/listIcon-17.png);
  position: relative;
 	top:4px;
  line-height: 1em; 	
	margin-right: 10px;
}
.sc_cells_checkbox .sc_cell,.sc_cells_checkbox2 .sc_cell { padding: 8px 15px;}
/*单选框*/
.sc_cells_radio .sc_check:checked + .sc_icon_checked:before {
  content: "";
  background: url(../images/ScApp/icon/Singleselect.png) no-repeat left;
  background-size: 24px;
  line-height: 1em;
  width: 24px;
  height: 24px;
  display: block;
}
.sc_cells_radio .sc_icon_checked:before {
  content: "";
  background: url(../images/ScApp/icon/Option_01.png) no-repeat left;
  background-size: 24px;
  line-height: 1em;
  width: 24px;
  height: 24px;
  display: block;
}
/*复选框*/
.sc_check2 {
  position: absolute;
  left: -9999em;
}
.sc_cell_hd img{
	width:30px;
	margin-right:10px;
	display:block;
	}
.sc_cells_checkbox2 .sc_check:checked + .sc_cells_checkbox2 .sc_icon_checked:before {
  content:url(../example/images/icon/listIcon-16.png);
  position: relative;
 	top:4px;
 	line-height: 1em;
	margin-right: 10px;
}
.sc_cells_checkbox2 .sc_icon_checked:before {
  content:url(../example/images/icon/listIcon-18.png);
  position: relative;
 	top:4px;
  line-height: 1em; 	
	margin-right: 10px;
}
.sc_cells_checkbox2 .sc_icon_disable:before {
  content:url(../example/images/icon/listIcon-17.png);
  position: relative;
 	top:4px;
  line-height: 1em; 	
	margin-right: 10px;
}
.sc_cells_checkbox2 .sc_check2:checked + .sc_icon_checked:before {
  content: url(../example/images/icon/listIcon-16.png);
  position: relative;
  top: 4px;
  line-height: 1em;
  margin-right: 10px;
}
/*单个拨号按钮右侧*/
.sc_cells_access .sc_cell_tel:after {
  content: url(../example/images/icon/listIcon-21.png);
  display: inline-block;
  position: relative;
  top: 4px;
  left: 4px;
}
/*普通表单（带描述，日期）*/
.label_describe{
	color:#6d6d6d;
	font-size:12px;
	overflow : hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.sc_cell_data{
	color: #888;
    font-size: 12px;
    position: absolute;
    top: 18px;
    right: 15px;
}
.sc_pic_txt img{
	width: 80px;
    height: 54px;
	margin-right: 10px;
    display: block;
}
.label_describe_2{
	height: 32px;
	color:#707070;
	font-size:1.2rem;
	/*display: -webkit-box;
	display: box;*/
	overflow : hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.sc_comment{ font-size:12px; color:#b5b5b5; position:absolute;  bottom: 11px; right: 10px;  padding-left: 15px; 
    background: -webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,1) 10%);
}
  
/*搜索框*/
.sc-search {
  position: relative;
  margin: 10px;
  -webkit-appearance:none;
}
.sc-search input[type=search] {
  padding:0 30px ;
  text-align: left;
  background:url(../example/images/icon/search-27.png) no-repeat;
  background-color: #e3e3e5;
  width:85%;
  opacity:0;
  background-position: 8px center;
  border: none;
  border-radius: 5px;
  color: #000;
  font-family: "微软雅黑";
  box-sizing: border-box;
}
.soso_mul input[type=search] {
  background: url(../example/images/icon/pull-29.png) no-repeat 8px center;
  background-color: #e3e3e5;
}
input[type=search] {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 34px;
  text-align: left;
  border: 0;
  border-radius: 6px;
  background-color: rgba(0,0,0,.1);
}
.sc-input-row.sc-search .sc-icon-clear {
  top: 7px;
}
.sc-input-row .sc-input-clear~.sc-icon-clear, .sc-input-row .sc-input-speech~.sc-icon-speech {
  font-size: 20px;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 0;
  width: 38px;
  height: 38px;
  text-align: center;
  color: #999;
}
.sc-input-row .sc-icon-speech~.sc-placeholder {
  right: 38px;
}
.sc-search .sc-placeholder {
  font-size: 16px;
  line-height: 40px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  height: 40px;
  text-align: center;
  color: #999;
  border: 0;
  border-radius: 6px;
  background: 0 0;
   background-color: #e3e3e5;;
}
.sc-search .sc-placeholder .sc-icon {
  font-size: 20px;
  color: #333;
}
.sc-icon {
	width:25px;
}
.sc-icon-search:before {
  content: url(../example/images/icon/search-27.png);
  position: relative;
  top: 3px;
  right: 4px;
}
.sc-hidden {
  display: none!important;
}
input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea {
  line-height: 21px;
  width: 100%;
  height: 40px;
  /*padding: 10px 15px;*/
  -webkit-user-select: text;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 3px;
  outline: 0;
  background-color: #fff;
  -webkit-appearance: none;
}

input[type="search"]{-webkit-appearance:none;} 
input::-webkit-search-cancel-button {display: none;}
.sc-input-speech { padding: 5px; margin: 0; border: 1px solid #beceeb; }
.clear { display: none; position: absolute; width: 30px; height: 30px; background: url(../example/images/icon/search-28.png) no-repeat; outline: none; background-size: 100%;  right: 16%;  top: 6px;}
.search_input_sin:valid + .clear { display: inline; }
.search_input_mul:valid + .clear { display: inline; }
.search_cancel{
  width: 14%;
  display: block;
  float: right;
  text-align: center;
  line-height: 40px;
  color: #5bb430;
    box-sizing: border-box;
 }
.search_btn{
  display:none;
  width: 15%;
  float: right;
  text-align: center;
  line-height: 40px;
  color: #5bb430;
    background-color: white;	
}
.search_input_sin:valid + .clear + .search_cancel{ display:none;}
.search_input_sin:valid + .clear + .search_cancel + .search_btn{ display:block;}
.search_input_mul:valid + .clear + .search_cancel{ display:none;}
.search_input_mul:valid + .clear + .search_cancel + .search_btn{ display:block;}
.dropdown_icon{  position: absolute;
  width: 30px;
  height: 40px;
  top: 0;}
  .drop_menu{
	background-color: rgba(153,153,153,.9);
	width: 32%;
	color:#fff;
	text-align: center;
	border-radius: 5px;
	position:absolute;
	border: none;
	z-index: 1;
	  top: 27px;
	display: none;margin-top: 20px;
	padding: 6px 0;
}
.triangle-up {
    width:0; 
    height:0; 
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:8px solid rgba(153,153,153,.9);
    position: absolute;
    right:10px;
    top:-7px;
}
.drop_menu li{
	overflow: hidden;
	padding-top: 10px;
}
.drop_menu li:last-child{ padding-bottom:5px}
.h{ display:none;}

.soso_fixed{  
	position: fixed;
  	top: 0px;
    background-color: white;
    width: 100%;
  	z-index: 999;
}


