<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<link rel="stylesheet" type="text/css" href="../../../css/mui.min.css" />
		<link rel="stylesheet" href="../../../css/list.css" />
		<link rel="stylesheet" href="../../../css/style_sc.css" />
		<link rel="stylesheet" href="../../../css/reset.css" />
		<link rel="stylesheet" href="../../../css/preview_image.css" />
		<!--<link rel="stylesheet" href="../../../css/frozen.css" />-->
		<title>请假申请</title>
	</head>

	<body>

		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">请假申请</h1>
		</header>
		<div class="mui-content container">
			<div class="ui-progress">
				<span id="bar" style="width:0%"></span>
			</div>
			<div class="news_container">
				<div class="news_container_1 bs">
					<div class="activ_input_edit leave_apply_edit">
						<ul>
							<li class="activ_input_list  flexbox">
								<span class="activ_input_label6">请假类型</span>
								<p class="flexItem join_object leave_type">
									<select id="sltType" class="" placeholder="请选择">
										<option value="">请选择</option>
									</select>
								</p>
							</li>
							<li class="activ_input_list flexbox">
								<span class="activ_input_label7">请假单号</span>
								<p class="flexItem text_right leave_num">
									<input id="leaveTitle" type="text" placeholder="" value="" />
								</p>
							</li>
							<div class="leave_reason">
								<textarea id="leaveContent" rows="" placeholder="请输入请假说明"></textarea>
								<div class="leave_uploadimg">
									<div id="imglist">
										<!--<img src="../../../images/ScApp/news/img_01.png" />-->
									</div>

									<div id="uploadFile" class="btn_uploadimg">上传图片</div>
								</div>
							</div>
							<div class="clear_float"></div>
							<li class="activ_input_list flexbox">
								<span class="activ_input_label8">请假时间</span>
								<p class="activ_time flexItem">
									<span id="pickStart" type="button">开始时间</span> ~
									<span id="pickEnd" type="button">截止时间</span>
								</p>
							</li>
							<li class="activ_input_list flexbox">
								<span class="activ_input_label9">请假时长</span>
								<p class="flexItem leave_p">
									<span id="" type="button" class="leave_sum">
										<i><input type="number" name="" id="leaveDay" value="" />天</i>
										<i><input type="number" name="" id="leaveHour" value="" />小时</i>
									</span>
								</p>
							</li>
							<li id="icon-toUser" class="activ_input_list flexbox approve_pri_li">
								<span class="activ_input_label10 approve_pri">负责人</span>
								<p id="toUser" class="flexItem join_object text_right approve_per">
								</p>
							</li>
							<li id="icon-ccUser" class="activ_input_list flexbox approve_pri_li">
								<span class="activ_input_label11 approve_pri">相关人</span>
								<p id="ccUser" class="flexItem join_object text_right approve_per"></p>
							</li>
						</ul>
					</div>

					<div id="btnSubmit" class="btn_woapply">提交审批</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../../js/mui/mui.min.js"></script>
		<script type="text/javascript" src="../../../js/mui/mui.zoom.js"></script>
		<script type="text/javascript" src="../../../js/mui/mui.previewimage.js"></script>
		<script type="text/javascript" src="../../../js/common/zepto.min.js" charset="utf-8"></script>
		<script type="text/javascript" src="../../../js/common/app_gqe.js"></script>
		<script type="text/javascript" src="../../../js/controllers/common.js"></script>
		<script type="text/javascript" src="../../../js/common/canvasResize.js"></script>
		<script type="text/javascript" src="../../../js/common/binaryajax.js"></script>
		<script type="text/javascript" src="../../../js/common/exif.js"></script>
		<script src="../../../js/controllers/approve/leave/leave_apply.js" type="text/javascript" charset="utf-8"></script>
		<!--<script type="text/javascript">
			var bar = document.getElementById("bar");
			var timeout;

			function run() {
				bar.style.width = parseInt(bar.style.width) + 1 + "%";
				if (bar.style.width == "70%") {
					//window.clearTimeout(timeout);
					//barDisplay();
					return;
				}
				timeout = window.setTimeout("run()", 50);
			}

			function barDisplay() {
				bar.style.display = 'none';
			}
			window.onload = function() {
				run();
			}
		</script>-->

	</body>

</html>