<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
		<title>快捷键</title>
		<link rel="stylesheet" type="text/css" href="../../../css/mui.css" />
		<link rel="stylesheet" href="../../../css/style_sc.css" />
		<link rel="stylesheet" href="../../../css/reset.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">快捷键</h1>
		</header>
		<!--下拉刷新容器-->
		<div class="mui-content shortcuts_lists">
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/approve/aprvLeave.png" width="30px" />
					<input type="hidden" value="../approve/leave/leave_apply.html" imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_14.png" />
					<span>请假填报</span>
					
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/approve/aprvOvertime.png" width="30px" />
					<input type="hidden" value="../approve/work/work_apply.html"  imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_08.png" />
					<span>加班填报</span>
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/approve/aprvTime.png" width="30px" />
					<input type="hidden" value="../approve/projecthour/projecthour_apply.html"  imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_13.png" />
					<span>工时填报</span>
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/approve/aprvUniversal.png" width="30px" />
					<input type="hidden" value="../approve/generalapprove/generalapprove_apply.html"  imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_09.png" />
					<span>通用审批填报</span>
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/nav/Shenpi-02.png" width="30px" />
					<input type="hidden" value="../approve/list/list_waitforme.html"  imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_10.png" />
					<span>待我审批</span>
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/nav/Shenpi-04.png" width="30px" />
					<input type="hidden" value="../approve/list/list_launched.html"  imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_11.png" />
					<span>我发起的</span>
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/nav/Shenpi-03.png" width="30px" />
					<input type="hidden" value="../approve/list/list_sendme.html"  imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_05.png" />
					<span>抄送我的</span>
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/nav/appsGg.png" width="30px" />
					<input type="hidden" value="../news/newlist.html"  imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_07.png" />
					<span>新闻公告</span>
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/nav/appsHd.png" width="30px" />
					<input type="hidden" value="../activity/activity_list.html"  imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_12.png" />
					<span>活动报名</span>
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/nav/appsWj.png" width="30px" />
					<input type="hidden" value="../questionnaire/questionnairelist.html"  imgUrl="../../images/ScApp/shortcutsicon/kuaijiejian_06.png" />
					<span>问卷调查</span>
				</li>
			</ul>
			<ul class="mui-table-view li">
				<li class="mui-table-view-cell">
					<img src="../../../images/ScApp/nav/RichengGuanli.png" width="30px" />
					<input type="hidden" value="../calendar/calendar_list.html"  imgUrl="../../images/ScApp/shortcutsicon/KjjRicheng.png" />
					<span>日程管理</span>
				</li>
			</ul>
		</div>
	</body>
	<script type="text/javascript" src="../../../js/mui/mui.min.js"></script>
	<script type="text/javascript" src="../../../js/controllers/common.js"></script>
	<script type="text/javascript" src="../../../js/controllers/myPage/shortcuts/shortcuts_apply.js"></script>

</html>