<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/mui.css" />
		<link rel="stylesheet" href="../../css/list.css" />
		<link rel="stylesheet" href="../../css/style_sc.css" />
		<link rel="stylesheet" href="../../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../../css/preview_image.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<h1 class="mui-title">回答详情</h1>
		</header>
		<div class="mui-content">
			<div class="mui-scroll">

				<div class="container">
					<div class="ques_result_lists ques_list_detail">
						<ul class="ques_result_list">
							<li class="ques_result_title" id='QuestionDescription'>

							</li>
						</ul>
						<div id="list">

						</div>
					</div>
				</div>

			</div>
		</div>
	</body>
	<script src="../../js/mui/mui.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/mui/mui.zoom.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/mui/mui.previewimage.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/controllers/common.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/questionnaire/answer3.js" type="text/javascript" charset="utf-8"></script>

</html>